*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
#root {
  width: 100%;
  height: 100vh;
  font-family: "Roboto";
}

.app-container {
  height: 100%;
}

.loading-mini {
  width: 70px;
}

.screen-container {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
}

.screen-centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
